/* GENERAL */

/* vietnamese */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(lib/Inconsolata-Regular.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(lib/Inconsolata-Regular.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(lib/Inconsolata-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #666;
}

/* COMPONENTS */

.app {
  height: 100%;
  width: 100%;
}

.dash-header {
  box-sizing:border-box;
  padding: .5em;
  height: 3em;
}

.dashboard-container {
  padding: 2px;
  height: calc(100% - 3em);
  box-sizing: border-box;
}

.dashboard-wrapper {
  position: relative;
  height: 100%;
}

.read-only-area {
  flex-grow: 1;
  width: 100%;
  background: transparent;
  resize: none;
  outline: none;
  border: 0;
  padding: 0.5em;
  color: inherit;
  cursor: default;
}

.editable-area {
  flex-grow: 1;
  width: 100%;
  background: transparent;
  resize: none;
  outline: none;
  border: 0;
  padding: 0.5em;
  color: inherit;
}

.dash-panel {
  box-sizing: border-box;
  position: absolute;
  padding: 2px;
  display: flex;
  flex-direction: column;
}

.dash-panel .title {
  font-size: 1.2em;
  font-weight: 500;
  padding: .3em .5em;
  height: 2em;
  cursor: default;
  color: #fff;
  display: block;
  width: 100%;
  background: #2b5fb4;
  text-transform: uppercase;
}

.dash-panel .title.success {
  background: #00db87;
}

.dash-panel .title.warning {
  background: #dcd007;
}

.dash-panel .title.error {
  background: #db002f;
}

.dash-panel .title .pill {
  background: #0005;
  color: #FFF;
  font-size: .6em;
  margin: .25em .25em;
  height: 2em;
  width: 8em;
  padding: 3px 12px;
  float: right;
  text-align: center;
  border-radius: 3px;
}

.dash-panel .content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: #0000000D;
  color: #222;
  overflow: hidden;
  font-family: "Inconsolata", "Lucida Console", Monaco, monospace;
}
